
    <h1><img src="{{flags.svg}}" alt="flag" width="35px"> {{name.official}}</h1>
    <p><b>Capital: </b>{{capital}}</p>
    <p><b>Population: </b>{{population}}</p>
    <p></p><b>Languages: </b>{{#each languages}}{{this}} {{/each}}</p> 